@import "./calculate/calculate.css";
@import "./passwordCheck/passwordCheck.css";
@import "./counter/counter.css";
@import "./itemList/itemList.css";
@import "./emailVolidator/emailVolidator.css";
@import "./date/date.css";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

#title {
  margin: 10px 0 70px 0;
  text-align: center;
}
